.shop-container {
  display: flex;
  width: 100%;
}

.products {
  display: flex;
  flex-flow: row wrap;
  width: 70%;
}

.cards {
  width: 250px;
}

.card:link,
:visited,
:hover,
:active {
  text-decoration: none;
}

.card {
  height: 450px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px #920b46;
}

.card:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #cccccc;
  background-color: white;
}

.card img {
  max-width: 100%;
  max-height: 60%;
  padding: 15px;
}

.title {
  font-family: "Dancing Script", cursive;
}

.price {
  padding: 20px;
  color: #920b46;
}

.rating {
  color: #920b46;
}

.link {
  position: absolute;
  bottom: 2px;
}
